<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
</head>
<body>
<header>
    <img src="" alt="logo">
    <p>Welcome Admin</p>
    <br>
    <p>Current Date and Time is <span id='date-time'></span>.</p>
</header>
<main>
    <label for="searchBox"><b>Search</b></label>
    <input id="searchBox" type="text" placeholder="Search for students,courses,instructors" name="search" size="40" required>
    <button id="submitButton" type="submit">Submit</button>
    <h2>Students</h2>
    <table id="students">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>ID</th>
            <th>Grade</th>
        </tr>
        <tr>
            <td>John Smith</td>
            <td>johnsmith@gmail.com</td>
            <td>23420912</td>
            <td>A</td>
        </tr>
        <tr>
            <td>David Miller</td>
            <td>davidmiller@aol.com</td>
            <td>24095843</td>
            <td>B+</td>
        </tr>
        <tr>
            <td>Matt Craig</td>
            <td>mattcraig@yahoo.com</td>
            <td>54302934</td>
            <td>A-</td>
        </tr>
    </table>
    <h2>Instructors</h2>

    <table id="instructors">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>ID</th>
            <th>Department</th>
        </tr>
        <tr>
            <td>Robert Ostroff</td>
            <td>rostroff@qc.cuny.edu</td>
            <td>32039483</td>
            <td>Science</td>
        </tr>
        <tr>
            <td>Diane Keller</td>
            <td>dkeller@qc.cuny.edu</td>
            <td>48372613</td>
            <td>Economics</td>
        </tr>
        <tr>
            <td>Jane Dyer</td>
            <td>janedyer@qc.cuny.edu</td>
            <td>98403928</td>
            <td>Mathematics</td>
        </tr>
    </table>

    <h2>Courses</h2>
    <table id="courses">
        <tr>
            <th>Name</th>
            <th>Course #</th>
            <th>Enrolled Students</th>
            <th>Department</th>
        </tr>
        <tr>
            <td>Intro to Biology</td>
            <td>101</td>
            <td>31</td>
            <td>Science</td>
        </tr>
        <tr>
            <td>Calculus</td>
            <td>151</td>
            <td>35</td>
            <td>Mathematics</td>
        </tr>
        <tr>
            <td>Intro to English</td>
            <td>110</td>
            <td>41</td>
            <td>English</td>
        </tr>
    </table>
</main>
</body>
</html>
