body {
    background-color: #03a9fc;
    font-family: 'Open Sans', sans-serif;
}

main{
    background-color: #dce8f1;
    border-radius: 20px;
    height: 550px;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 30px 60px 0;

}

button{
    width: 200px;
}

.floatingLast{
    display: inline-block;
}


.floatingFirst{
    display: inline-block;
}

.floatingPass{
    display: inline-block;
}

.floatingPsw{
    display: inline-block;
}
.floatingEmail {
    display: block;
    margin: 0 auto;
    width: 405px;
}

.role{
    display: block;
    margin: 0 auto;
}

li:hover{
    background-color: white;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/*.bi {*/
/*    vertical-align: -.125em;*/
/*    fill: currentColor;*/
/*}*/
