body {
    background-color: #03a9fc;
    font-family: 'Open Sans', sans-serif;

}

main{
    background-color: whitesmoke;
    display: flex;
    height: 500px;
    width: 100%;
    text-align: center;
    -webkit-border-radius: 30px 30px 30px 30px;
    -webkit-box-shadow: 0 30px 60px 0;
    justify-content: center;

}

button{
    width: 200px;
}

.floatingLast{
    display: inline-block;
}


.floatingFirst{
    display: inline-block;
}

.floatingPass{
    display: inline-block;
}

.floatingPsw{
    display: inline-block;
}
.floatingEmail {
    display: block;
    margin: 0 auto;
    width: 405px;
}

.role{
    display: block;
    margin: 0 auto;
}

li:hover{
    background-color: white;
    text-decoration: underline;
}


footer {
    flex: 0 0 90px;
}

