body{
    width: 100%;
    height: 100%;
    background-color: #3490dc;
    font-family: 'Open Sans', sans-serif;
}


.link:hover{
    background-color: grey;
}

#student{
    float: right;
    position: fixed; top: 5px; right: 250px;
    font-size: 24px;
}

#date{
    float: right;
    position: fixed; top: 45px; right: 250px;
    font-size: 24px;
}

#buttons{
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 15px;
    width: 185px;
    height: 515px;
    max-width: 450px;
    position: fixed; top: 350px; left: 10px;
    -webkit-box-shadow: 0 30px 60px 0;
    text-align: center;
    margin-left: 24px;
}
button{
    color: white;
    border: 1px solid #13619f;
    background: #2371b7;
    width: 125px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 4px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

button:active {
    background-color: lightblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer{
    text-align: center;
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}



